:root{
    --main-color: antiquewhite;
    --color-accent: #357ab8;
    --color-backgroung: #f0f0f0;
    --box-shadow: #0000001a;
    --color-main-bg: #846ef4;
}

.board {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    box-shadow: 0 4px 6px #0000001a;
    background-color: var(--color-main-bg);
    border-radius: 10px;
}
.hidden {
    display: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-backgroung);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 10px;
    border: 2px solid var(--color-backgroung);
}


/* SECTIONS */

.todo-section,
.in-progress-section,
.done-section {
    flex: 1;
    width: 300px;
    height: 600px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: var(--color-backgroung);
    border-radius: 10px;

}
.todo-section:hover{
    color: orange;
}
.in-progress-section:hover{
    color: violet;
}
.done-section:hover{
    color: #77c405;
}


/* TASKS */
.tasks{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 6px;
    padding: 10px 12px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px var(--box-shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.task-text{
    flex:1;
    align-items: center;
}
.task:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--box-shadow);
}


/* BUTTON */
.move-right,
.move-left {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
}
.move-right:hover,
.move-left:hover {
    background: var(--color-accent);
}
.move-left{
    rotate: 180deg;
}

