
body{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #051899;
    margin: 0 auto;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
header{
    margin-bottom: 40px;
    background-color: antiquewhite;
}
main{
    background-color: #846ef4;
    border-radius: 10px;
}
footer{
    margin-top: 30px;
    background-color: #051477;
}
.desritpion{
    padding: 10px;
    margin: 20px;
    background-color: #eadfd1;
    box-shadow: 0 4px 6px #0000001a;
}
